html, body {
    height: 100%;
    width: 100%;
  }
  
  * {
    font-family: "Jetbrains Mono", "Noto Sans TC";
  }
  
  /*屬標到上面自動打開的hover 顯示submenu的css */
  .navbar-nav li:hover>ul.dropdown-menu {
      display: block;
  }
  
  /*定位submenu*/
  .dropdown-submenu {
      position: relative;
  }
  
  
  /*將定位後的submenu往右移 讓他看起來像是一層一層ㄉ*/
  .dropdown-submenu>.dropdown-menu {
      top: 0%;
      left: 100%;
      margin-top: -6px;
      /*方塊的上下 這裡可以調整*/
  }
  
  /*小玩意: 那個三角形會轉!!!*/
  .dropdown-menu>li>a:hover:after {
      /*還有動畫！*/
      transition: transform 0.1s ease-out;
      transform: rotate(-90deg);
  }